body {
  color: #333;
  font-size: 14px;
  font-family: $font-base;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #08c;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}

a img {
  transition: opacity 0.5s ease-in-out;
}

a:hover img {
  opacity: 0.8;
}
