* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: normal;
  word-break: normal;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

img {
  vertical-align: bottom;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

ol,
ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-feature-settings: "palt";
  letter-spacing: 0.01em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
